{% load static %}
{% include 'etender/html/header.html' %}


    <div class="container">
        <h2>Объявления тендеров</h2>
        <div class="tender-list">
            <!-- Здесь будут размещены объявления тендеров -->
            <div class="tender">
                <h3>Название тендера 1</h3>
                <p>Описание тендера 1...</p>
                <a href="#">Подробнее</a>
            </div>
            <div class="tender">
                <h3>Название тендера 2</h3>
                <p>Описание тендера 2...</p>
                <a href="#">Подробнее</a>
            </div>
            <!-- Добавьте еще объявления, если нужно -->
        </div>
    </div>
{% include 'etender/html/footer.html' %}